:root {
  --primary-color: rgb(221, 251, 169); /* bright lime */
  --secondary-color: rgb(251, 169, 221); /* soft pink */
  --tertiary-color: rgb(169, 218, 251); /* baby blue */
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  border: 2px solid red;
  display: flex;
  align-items: center;
  width: 900px;
  height: 520px;
}

.controls {
  border: 2px solid red;
  width: 300px;
  height: 100%;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 2px solid rgb(180, 180, 180);
}

.canvas-square {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}

.square-borders {
  border: 1px solid rgb(180, 180, 180);
}
